{% extends 'base.html' %}
{% block content %}
    <div class="col-md-6 offset-md-3">
        <h1>Customer</h1>
        <div class="card">
            <div class="card-body">
                <div class="card">

                    <div class="card-header">
                        <strong>{{ customers.name }}</strong>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><strong>Name: </strong>{{ customers.name }}</p>
                        <p class="card-text"><strong>email: </strong>{{ customers.email }}</p>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
        <a href="{% url 'update-customer' customers.customer_id %}" class="btn btn-secondary">Update</a>
        <a href="{% url 'delete-customer' customers.customer_id %}" class="btn btn-danger">Delete</a>
    </div>
{% endblock %}